/*ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
}

h1{
    color: rgb(0, 0, 0);
    position: fixed;
    top: 220px;
    right: 540px;
    font-size: 21px;
}

p{
    color: rgb(0, 0, 0);
    position: fixed;
    top: 320px;
    right: 690px;
    font-size: 15px;
}
p1{
    color: rgb(0, 0, 0);
    position: fixed;
    top: 320px;
    right: 610px;
    font-size: 15px;
}
p2{
    color: rgb(68, 255, 0);
    position: fixed;
    top: 350px;
    right: 600px;
    font-size: 15px;
}

p3{
    color: rgb(55, 206, 0);
    position: fixed;
    top: 400px;
    right: 530px;
    font-size: 15px;
}




body{
    background: linear-gradient(135deg, #623253, #cd66ac);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #db0a99;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.2s;
    position: absolute;
    top: 28px;
    left: 1016px;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #ff00ae;
    transform: scale(1.05);
}

.comprar button{
    padding: 10px 70px;
    font-size: 20px;
    font-weight: 600;
    background-color: #15db0a;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.2s;
    position: absolute;
    top: 500px;
    left: 530px;
}
.comprar button:hover{
    box-shadow: 0px 0px 10px #0dff00;
    transform: scale(1.05);
}

/*ESTILO DO CABEÇALHO*/

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(213, 207, 207);
    text-decoration: none;
    display: inline-block;
    transition: .2.0;
}


header a:hover{
    color: #ff00ae;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav li{
    display: inline-block;
    padding: 0px 40px;
}


.mouse-img {
    width: 200px;
    height: auto;
    position: fixed;
    top: 200px;
    right: 800px;
}